.about {
  overflow: hidden;
  &__wrap {
    position: relative;
  }
  &__background {
    position: absolute;
    width: 150%;
    height: 150%;
    top: -20%;
    left: -20%;
    background-repeat: no-repeat;
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    padding: 85px 0;
    position: relative;
    z-index: 2;
  }
  &__text {
    width: 50%;
  }
  &__image {
    width: 50%;
  }
  &__more {
    width: 100%;
  }
  &__title {
    line-height: 1;
    font-weight: 700;
    display: block;
    span {
      font-size: 30px;
      display: block;
      line-height: 1.3;
    }
  }
  &__text {
    font-size: 20px;
  }
  &__image {
    img {
      display: block;
      width: 100%;
    }
  }
  &__more {
    padding-top: 85px;
    display: flex;
    justify-content: center;
  }
}

.about-blocks {
  width: 100%;
  &__container {
    display: flex;
    flex-wrap: wrap;
  }
}

.about-block {
  width: 25%;
  &__container {
    border: 1px solid #d0d0d0;
    background-color: #fff;
    padding: 45px 30px 50px 30px;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    height: 100%;
  }
  span {
    font-weight: 900;
    font-size: 56px;
    line-height: 1.1;
    color: #ee3422;
    background: linear-gradient(to right, #f3ac37 0%,#f06b29 50%,#ee3422 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media all and(max-width: 992px) {
  .about-block {
    width: 50%;
  }
  .about__text {
    width: 100%;
  }
  .about__more {
    padding-top: 30px;
  }
  .about__image {
    width: 100%;
  }
  .about-block__container {
    justify-content: flex-start;
  }
}
@media all and(max-width: 576px) {
  .about-block {
    width: 100%;
  }
  .about__container {
    padding-top: 40px;
  }
  .about__text {
    text-align: center;
  }
}