.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 200;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 0;
    position: relative;
  }
  &__mobile-wrap {
    display: flex;
    align-items: center;
  }
  &__socials {
    padding-right: 80px;
  }
  &__cooperation-link {
    order: 3;
    display: none;
  }
}

.logo {
  position: relative;
  z-index: 2;
  &__link {
    text-decoration: none;
    color: #000;
  }
  &__title {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 500;
  }
}
.socials {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -5px -10px;
  &__title {
    padding: 5px 10px;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    padding: 5px 10px;
  }
  &__item {
    &:not(:last-child) {
      padding-right: 24px;
    }
  }
  &__link {
    text-decoration: none;
    color: #aaabab;
    transition: 0.3s;
    font-size: 30px;
    &:hover {
      color: #3e60fe;
    }
  }
}
.contact-number {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-decoration: none;
  &__number {
    color: #000;
    text-decoration: none;
    font-size: 24px;
    font-weight: 800;
    white-space: nowrap;
    padding-left: 35px;
    position: relative;
    i {
      position: absolute;
      left: 0;
      top: 50%;
      font-size: 0.9em;
      transform: rotate(90deg) translateX(-50%);
    }
  }
  &__link {
    color: #010101;
    font-size: 20px;
    text-decoration: none;
    transition: 0.3s;
    margin-top: 4px;
    position: relative;
    padding-bottom: 2px;
    &:after {
      content: '';
      display: block;
      border-width: 0 0 1px 0;
      border-style: dashed;
      border-color: inherit;
      position: absolute;
      width: 100%;
      bottom: 0;
      transition: 0.1s;
      left: 0;
    }
    &:hover {
      color: #000;
      &:after {
        opacity: 0;
      }
    }
  }
}
.mobile-button {
  transition: .3s;
  width: 50px;
  height: 50px;
  display: none;
  position: absolute;
  right: -14px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 22px;
    left: 14px;
    top: 24px;
    position: absolute;
    background-color: #3d3d3d;
    transition: .3s;
    &:before,
    &:after {
      display: block;
      content: "";
      height: 3px;
      width: 100%;
      background-color: #3d3d3d;
      position: absolute;
      transition: .3s;
      left: 0;
    }
    &:before {
      top: -9px;
    }
    &:after {
      bottom: -9px;
    }
  }
  &_active {
    span {
      background-color: transparent !important;
      &:before {
        transform: translateX(-2px) rotate(45deg);
        top: 0px;
        width: 25px;
      }
      &:after {
        transform: translateX(-2px) rotate(-45deg);
        bottom: 0px;
        width: 25px;
      }
    }
  }
}

@media all and(max-width: 992px) {
  .header__socials {
    flex-direction: column;
  }
}
@media all and(max-width: 768px) {
  .header__socials {
    display: none;
  }
}
@media all and(max-width: 576px) {
  .header__socials {
    display: block;
    padding: 30px 0;
    order: 2;
  }
  .header__container {
    padding: 30px 0;
  }
  .logo__title {
    font-size: 14px;
  }
  .mobile-button {
    display: block;
  }
  .header__mobile-wrap {
    flex-direction: column;
    justify-content: center;
    justify-content: flex-start;
  }
  .header__content {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #fff;
    width: 100%;
    z-index: 1;
    padding-top: 90px;
    display: none;
  }
  .header__cooperation-link {
    display: block;
  }
}