@import "./partials/fonts";

$main-color: #ff8a00;

body {
  text-rendering: optimizeSpeed;
  font: 18px "Gilroy", sans-serif;
  color: #010101;
  min-width: 320px;
  position: relative;
  background-color: #fff;
}
p {
  margin: 0;
  &:not(:last-child) {
    margin-bottom: 1em;
  }
}
a {
  color: #1f23d3;
  &:hover {
    text-decoration: none;
  }
}
.slick-slider {
  a, button {
    outline: none;
  }
}
.container {
  max-width: 1470px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  padding: 0 30px;
  &_small {
    max-width: 1230px;
  }
}
.col {
  padding: 15px;
}
.row {
  margin: 0 -15px 0 -15px;
}
.wrapper {
  overflow: hidden;
  position: relative;
  z-index: 2;
  min-height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
}
.title {
  font-weight: 900;
  margin: 0;
  margin: 0 0 25px 0;
}
.slider {
  a, button {
    outline: none;
  }
}
.slick-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  font-size: 0;
  background: transparent;
  transition: 0.3s;
  border-radius: 100%;
  border: 0;
  outline: none;
  padding: 0;
  appearance: none;
  cursor: pointer;
  color: #c9c9c9;
  border: 1px solid #c9c9c9;
  box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.2);
  &:before {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 20px;
    font-weight: 900;
  }
  &:hover {
    background-color: #ff930c;
    color: #fff;
    border-color: #ff930c;
  }
  &_style1 {
    color: #ff930c;
    background-color: #fff;
    border: 0;
    &:hover {
      background-color: #ff930c;
      color: #fff;
    }
  }
  &_style2 {
    border: 1px solid #fff;
    color: #fff;
    &:hover {
      border-color: #ff930c;
      background-color: #ff930c;
    }
  }
}
.slick-prev {
  &:before {
    content: '\f060';
  }
}
.slick-next {
  &:before {
    content: '\f061';
  }
}
.slick-custom {
  display: block !important;
}
.slide-count {
  display: flex;
  align-items: flex-end;
  &__current {
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
  }
  &__all {
    font-weight: 300;
    font-size: 16px;
    &:before {
      content: '/';
      margin: 0 4px;
    }
  }
}
.cooperation-link {
  &__container {
    text-align: center;
    color: #000;
    padding: 30px 20px;
    border-radius: 20px;
    display: block;
    background-color: #f8f8f8;
    text-decoration: none;
    max-width: 180px;
    animation: pulse 1.5s infinite;
    transition: .3s;
    &:hover {
      opacity: 0.8;
    }
  }
  &__icon {
    height: 50px;
    width: 28px;
    display: block;
    margin: 0 auto;
  }
  &__title {
    display: block;
    line-height: 1.3;
  }
}
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.shadow {
  box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.2);
}
.gradient {
  position: relative;
  &:before {
    content: '';
    display: block;
    background: #ee3422;
    background: linear-gradient(to right, #f3ac37 0%,#f06b29 50%,#ee3422 100%);
  }
  &:after {
    content: '';
    display: block;
    background: #ee3422;
    opacity: 0;
    background: linear-gradient(to right, #ee3422 0%,#f06b29 50%,#f3ac37 100%);
  }
}
.title {
  font-size: 40px;
}
.button {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  display: inline-block;
  width: 100%;
  max-width: 360px;
  padding: 39px;
  border-radius: 100px;
  line-height: 1;
  box-shadow: 0px 5px 0px 0px rgba(156,10,0,1);
  transition: 0.3s;
  overflow: hidden;
  background: #ee3422;
  letter-spacing: 0.05em;
  margin-bottom: 5px;
  border: 0;
  appearance: none;
  cursor: pointer;
  outline: none;
  -webkit-backface-visibility: hidden;
  overflow: hidden;
  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.3s;
  }
  &:hover {
    &:before {
      opacity: 0;
    }
    &:after {
      opacity: 1;
    }
  }
  &:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px rgba(156,10,0,1);
  }
  span {
    position: relative;
    z-index: 2;
    display: block;
    text-align: center;
  }
}
.input {
  border: 1px solid #c9c9c9;
  box-shadow: none;
  appearance: none;
  text-align: center;
  display: block;
  width: 100%;
  font-weight: 300;
  outline: none;
  line-height: 18px;
  padding: 31px 20px;
  border-radius: 80px;
  margin: 0 auto;
  max-width: 300px;
  color: #000;
  transition: 0.3s;
  &::placeholder {
    color: #959595;
    transition: 0.3s;
  }
  &:focus {
    &::placeholder {
      opacity: 0;
    }
    border-color: #000;
  }
}
.checkbox {
  &__input {
    display: none;
  }
  &__label {
    position: relative;
    padding-left: 30px;
    font-weight: 300;
    font-size: 12px;
    display: block;
    line-height: 16px;
    max-width: 225px;
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
    &:before {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      border: 1px solid #2d51fe;
    }
    &:after {
      content: '';
      display: block;
      width: 7px;
      height: 4px;
      border-left: 1px solid #fff;
      border-bottom: 1px solid #fff;
      position: absolute;
      transform: rotate(-45deg);
      left: 4px;
      top: 4px;
    }
    &_checked {
      &:before {
        background-color: #2d51fe;
      }
    }
    a {
      color: inherit;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
.play-button {
  position: relative;
  &__item {
    display: block;
    outline: none;
    text-decoration: none;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    position: relative;
    cursor: pointer;
    color: #000;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    i {
      transition: 0.3s;
      font-size: 28px;
    }
    &:hover {
      i {
        transform: scale(1.2);
      }
    }
  }
  &__text {
    display: block;
    position: absolute;
    font-weight: 500;
    left: calc(50% + 30px);
    white-space: nowrap;
    top: 20px;
    transform: translateY(-100%);
  }
  &__label {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
    white-space: nowrap;
    &_white {
      color: #fff;
    }
  }
  &_style1 {
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    .play-button__item {
      background-color: #fff;
      i {
        color: #2e53fe;
      }
      &:hover {
        opacity: 0.8;
      }
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      height: 100%;
      width: 50%;
      left: 0;
      top: 0;
      border-radius: 100% 0 0 100% / 50% 0 0 50%;
      border-width: 5px 0 5px 5px;
      border-color: #2949ff;
      border-style: solid;
      box-sizing: border-box;
    }
  }
  &_style2 {
    opacity: 1;
    .play-button__item {
      background-color: #ff970c;
      margin: 0 auto;
      &:hover {
        opacity: 0.8;
      }
    }
    i {
      color: #fff;
    }
  }
  &_style3 {
    .play-button__item {
      border: 1px solid #fff;
      width: 120px;
      height: 120px;
      margin: 0 auto;
      opacity: 1;
      &:hover {
        background-color: #ff970c;
      }
    }
    i {
      color: #fff;
    }
  }
  &_style4 {
    .play-button__item {
      border: 1px solid #fff;
      width: 90px;
      height: 90px;
      margin: 0 auto;
      opacity: 1;
    }
    i {
      color: #ff970c;
    }
  }
}
.cover-box {
  position: relative;
  img {
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.wh {
  height: auto;
  width: 100%;
}
.ww {
  height: 100%;
  width: auto;
}

@media all and(max-width: 1620px) {
  .container {
    &_style2 {
      padding: 0 85px;
    }
  }
}
@media all and(max-width: 768px) {
  .container {
    &_style2 {
      padding: 0 30px;
    }
  }
}
@media all and(max-width: 576px) {
  .play-button_style1 a {
    width: 60px;
    height: 60px;
  }
  body {
    font-size: 16px;
  }
  .title {
    font-size: 24px !important;
    line-height: 1.3 !important;
    span {
      font-size: 24px !important;
      line-height: 1.3 !important;
    }
  }
  .button {
    letter-spacing: 0;
    max-width: 100%;
    padding: 39px 20px;
    font-size: 18px;
  }
}
@media all and(max-width: 365px) {
  .container {
    padding: 0 20px;
  }
}

@import "./partials/header";
@import "./partials/popup";
@import "./partials/navigation";
@import "./partials/home";
@import "./partials/projects";
@import "./partials/about";
@import "./partials/publications";
@import "./partials/presentation";
@import "./partials/awards";
@import "./partials/videos";
@import "./partials/clients";
@import "./partials/questions";
@import "./partials/footer";