doctype html
html(lang="ru")
  head
    include blocks/head
  body.body
    .wrapper
      include blocks/header
      include blocks/navigation
      main.main
        include blocks/home
        include blocks/projects
        include blocks/publications
        include blocks/about
        include blocks/presentation
        include blocks/awards
        include blocks/videos1
        include blocks/clients
        include blocks/questions
      include blocks/footer
      include blocks/popup
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")                  
    script(src="js/common.min.js")