.about(id="about")
  .container.container_style2
    .about__wrap
      .about__background.lazy(data-src='img/backgrounds/bg-projects.jpg')
      .about__container.row
        .about__text.col
          h5.title.about__title Более 25 лет я совершенствую<br>
            span свои знания и навыки для того,<br> чтобы помогать вам реализовывать мечты 
          p В 1995 году я основал первую компанию, в которой на сегодняшний день насчитывается более 500 специалистов.
          p В 2012 году я вывел на рынок продукт, которому до сих пор нет аналогов на рынке ландшафтного дизайна и архитектуры.
          p Моя задача — помочь воплотить все пожелания в жизнь и сделать так, чтобы у вашего сада или парка появилась своя История. 
          p Ведь ландшафтный дизайн и архитектура — это не просто мое призвание, это целая философия. 
        .about__image.col
          img(data-src="img/backgrounds/photo.png", alt="").lazy
        .about__more.col
          a(href="javascript:;" data-fancybox data-src="#popup1").button.gradient.modal
            span Связаться со мной
        .about-blocks.col
          .about-blocks__container.row
            .about-block.col
              .about-block__container
                .about-block__text
                  span 1750 
                  | объектов реализовал
            .about-block.col
              .about-block__container
                .about-block__text
                  span 38 
                  | масштабных городских фестивалей организовал в Москве
            .about-block.col
              .about-block__container
                .about-block__text
                  span 119 
                  | объектов ухода
            .about-block.col
              .about-block__container
                .about-block__text
                  span 6000+ 
                  | проектных решений разработал
                
      