.awards.slider-section(id="awards")
  .container
    .awards__container.row
      .awards__title.col
        h4.title Выставочные награды и сертификаты
        .awards__nav
          button.slick-arrow.slick-arrow_style1.slick-custom.slick-prev.awards__prev.shadow
          .slide-count.publications__slide-count
            span.slide-count__current 0
            span.slide-count__all 0
          button.slick-arrow.slick-arrow_style1.slick-custom.slick-next.awards__next.shadow
      .awards__content.col
        .awards__slider
          .awards-slide
            .awards-slide__container
              a(data-fancybox="awards" href="img/gallery/diplom.png").awards-slide__link.gallery-item
                img(data-src="img/gallery/diplom.png", alt="").lazy
              span.awards-slide__title 1-я международная выставка «Дом и сад 2008» победа в номинации «Роскошь и экспрессия»
          .awards-slide
            .awards-slide__container
              a(data-fancybox="awards" href="img/gallery/4.png").awards-slide__link.gallery-item
                img(data-src="img/gallery/4.png", alt="").lazy
              span.awards-slide__title Диплом участника выставки «IV неделя садов» журнала «Мезонин»
          .awards-slide
            .awards-slide__container
              a(data-fancybox="awards" href="img/gallery/6.png").awards-slide__link.gallery-item
                img(data-src="img/gallery/6.png", alt="").lazy
              span.awards-slide__title Диплом участника международной выставки гольф-индустрии России «ГОЛЬФ ЭКСПО 2005»
          .awards-slide
            .awards-slide__container
              a(data-fancybox="awards" href="img/gallery/diplom.png").awards-slide__link.gallery-item
                img(data-src="img/gallery/diplom.png", alt="").lazy
              span.awards-slide__title 1-я международная выставка «Дом и сад 2008» победа в номинации «Роскошь и экспрессия»
          .awards-slide
            .awards-slide__container
              a(data-fancybox="awards" href="img/gallery/4.png").awards-slide__link.gallery-item
                img(data-src="img/gallery/4.png", alt="").lazy
              span.awards-slide__title Диплом участника выставки «IV неделя садов» журнала «Мезонин»
          .awards-slide
            .awards-slide__container
              a(data-fancybox="awards" href="img/gallery/6.png").awards-slide__link.gallery-item
                img(data-src="img/gallery/6.png", alt="").lazy
              span.awards-slide__title Диплом участника международной выставки гольф-индустрии России «ГОЛЬФ ЭКСПО 2005»
