mixin slide()
  .clients-slide
    .clients-slide__container.cover-box
      img(alt="")&attributes(attributes).lazy
.clients.slider-section(id="clients")
  .container
    .clients__container.row
      .clients__title.col
        h4.title Среди клиентов
        .clients__nav
          button.slick-arrow.slick-arrow_style1.slick-custom.slick-prev.clients__prev.shadow
          button.slick-arrow.slick-arrow_style1.slick-custom.slick-next.clients__next.shadow
      .clients__content.col
        .clients__slider
          +slide()(data-src="img/logos/logo-01.jpg")
          +slide()(data-src="img/logos/logo-02.jpg")
          +slide()(data-src="img/logos/logo-03.jpg")
          +slide()(data-src="img/logos/logo-04.jpg")
          +slide()(data-src="img/logos/logo-05.jpg")
          +slide()(data-src="img/logos/logo-06.jpg")
          +slide()(data-src="img/logos/logo-07.jpg")
          +slide()(data-src="img/logos/logo-08.jpg")
          +slide()(data-src="img/logos/logo-09.jpg")
          +slide()(data-src="img/logos/logo-10.jpg")
          +slide()(data-src="img/logos/logo-11.jpg")
          +slide()(data-src="img/logos/logo-12.jpg")
          +slide()(data-src="img/logos/logo-13.jpg")
          +slide()(data-src="img/logos/logo-14.jpg")
          +slide()(data-src="img/logos/logo-15.jpg")
          +slide()(data-src="img/logos/logo-16.jpg")
          +slide()(data-src="img/logos/logo-17.jpg")
          +slide()(data-src="img/logos/logo-18.jpg")
          +slide()(data-src="img/logos/logo-19.jpg")
          +slide()(data-src="img/logos/logo-20.jpg")
          +slide()(data-src="img/logos/logo-21.jpg")
          +slide()(data-src="img/logos/logo-22.jpg")
          +slide()(data-src="img/logos/logo-23.jpg")
          +slide()(data-src="img/logos/logo-24.jpg")
          +slide()(data-src="img/logos/logo-25.jpg")
          +slide()(data-src="img/logos/logo-26.jpg")
          +slide()(data-src="img/logos/logo-27.jpg")
          +slide()(data-src="img/logos/logo-28.jpg")
          +slide()(data-src="img/logos/logo-29.jpg")
          +slide()(data-src="img/logos/logo-30.jpg")
          +slide()(data-src="img/logos/logo-31.jpg")
          +slide()(data-src="img/logos/logo-32.jpg")
          +slide()(data-src="img/logos/logo-34.jpg")
          +slide()(data-src="img/logos/logo-35.jpg")
          +slide()(data-src="img/logos/logo-36.jpg")
          +slide()(data-src="img/logos/logo-37.jpg")
          +slide()(data-src="img/logos/logo-38.jpg")
          +slide()(data-src="img/logos/logo-39.jpg")
          +slide()(data-src="img/logos/logo-40.jpg")
          +slide()(data-src="img/logos/logo-41.jpg")
          +slide()(data-src="img/logos/logo-42.jpg")
          +slide()(data-src="img/logos/logo-43.jpg")
          +slide()(data-src="img/logos/logo-44.jpg")
          +slide()(data-src="img/logos/logo-45.png")
          +slide()(data-src="img/logos/logo-46.png")
          +slide()(data-src="img/logos/logo-47.png")
          +slide()(data-src="img/logos/logo-48.png")
          +slide()(data-src="img/logos/logo-49.png")
          +slide()(data-src="img/logos/logo-50.png")
          +slide()(data-src="img/logos/logo-51.png")
          +slide()(data-src="img/logos/logo-52.png")
          +slide()(data-src="img/logos/logo-54.png")
          +slide()(data-src="img/logos/logo-56.png")
          +slide()(data-src="img/logos/logo-57.png")
          +slide()(data-src="img/logos/logo-58.png")
          +slide()(data-src="img/logos/logo-59.png")
          +slide()(data-src="img/logos/logo-60.png")
          +slide()(data-src="img/logos/logo-61.png")
          +slide()(data-src="img/logos/logo-62.png")
          +slide()(data-src="img/logos/logo-63.png")
          +slide()(data-src="img/logos/logo-65.png")
          +slide()(data-src="img/logos/logo-66.png")
          +slide()(data-src="img/logos/logo-68.png")
          +slide()(data-src="img/logos/logo-69.png")
          +slide()(data-src="img/logos/logo-70.png")
          +slide()(data-src="img/logos/logo-71.png")
          +slide()(data-src="img/logos/logo-72.png")
          +slide()(data-src="img/logos/logo-73.png")
          +slide()(data-src="img/logos/12.jpg")
          +slide()(data-src="img/logos/50.jpg")
          +slide()(data-src="img/logos/64.jpg")
          +slide()(data-src="img/logos/65.jpg")
          +slide()(data-src="img/logos/66.jpg")
          +slide()(data-src="img/logos/83.jpg")
