footer.footer
  .footer__top
    .container
      .footer__container
        .footer__content.row
          .footer__section.footer__section_1.col
            .logo.footer__logo
              a(href="#").logo__link
                h1.logo__title Ландшафтный эксперт<br> Илья Васецкий
          .footer__section.footer__section_2.col
            .adress.footer__adress
              ul.adress__list
                li.adress__item
                  i.fas.fa-map-marker-alt
                  | Москва, Балаклавский пр-т, 33
                li.adress__item
                  i.fas.fa-map-marker-alt
                  | LI-ER@LI-ER.RU
          .footer__section.footer__section_3.col
            .socials.footer__socials
              .socials__title Я в соц.сетях:
              ul.socials__list
                li.socials__item
                  a(href="#").socials__link
                    i.fab.fa-vk
                li.socials__item
                  a(href="#").socials__link
                    i.fab.fa-facebook-f
                li.socials__item
                  a(href="#").socials__link
                    i.fab.fa-instagram
                li.socials__item
                  a(href="#").socials__link
                    i.fab.fa-youtube
          .footer__section.footer__section_4.col
            .contact-number.footer__contact-number
              a(href="tel:84957206203").contact-number__number
                i.fas.fa-phone
                | 8 (495) 720-62-03
              a(href="javascript:;" data-fancybox data-src="#popup1").contact-number__link.modal Получить консультацию
  .footer__bottom.row
    .footer__copy.col
      span.copy 2019. Все права защищены.
    .footer__politics.col
      a(href="#") Политика конфиденциальности