header.header
  .container  
    .header__container
      .logo
        a(href="#").logo__link
          h1.logo__title Ландшафтный эксперт<br> Илья Васецкий
      .header__content
        .header__mobile-wrap
          .socials.header__socials
            .socials__title Я в соц.сетях:
            ul.socials__list
              li.socials__item
                a(href="#").socials__link
                  i.fab.fa-vk
              li.socials__item
                a(href="#").socials__link
                  i.fab.fa-facebook-f
              li.socials__item
                a(href="#").socials__link
                  i.fab.fa-instagram
              li.socials__item
                a(href="#").socials__link
                  i.fab.fa-youtube
          .contact-number
            a(href="tel:84957206203").contact-number__number
              i.fas.fa-phone
              | 8 (495) 720-62-03
            a(href="javascript:;" data-fancybox='modal' data-src="#popup1").contact-number__link Получить консультацию
          .cooperation-link.header__cooperation-link
            a(href="javascript:;" data-fancybox='modal' data-src="#popup2").cooperation-link__container.shadow.nav-close
              img(data-src="img/icons/microphone.png", alt="").lazy.cooperation-link__icon
              span.cooperation-link__title Сотрудничество<br> со СМИ
      a(href="#").mobile-button
        span