nav.navigation
  ul.navigation__list
    li.navigation__item
      a(href="#home").navigation__link.navigation__link_active
    li.navigation__item
      a(href="#projects").navigation__link
    li.navigation__item
      a(href="#publications").navigation__link
    li.navigation__item
      a(href="#about").navigation__link
    li.navigation__item
      a(href="#presentation").navigation__link
    li.navigation__item
      a(href="#s").navigation__link
    li.navigation__item
      a(href="#s").navigation__link
    li.navigation__item
      a(href="#s").navigation__link