div(id='popup1').popup.modal_container.mfp-with-anim.mfp-hide.popup_padding.popup-feedback
  .popup__container
    button.popup__close ×
    h5.popup__title Оставьте заявку, я отвечу на вопросы
    form(action="").popup-form
      .popup-form__group
        input(type="text" required placeholder="Введите имя").input
      .popup-form__group
        input(type="text" required placeholder="+7 (000) 000-00-00").input.input_phone
      .popup-form__group.popup-form__group_style2
        button(type='submit').button.gradient.popup-form__button
          span Связаться со мной
      .popup-form__group.popup-form__group_style2
        .checkbox
          label.checkbox__label Вы соглашаетесь с условиями обработки персональных данных<br> (<a href='#'>ознакомиться</a>)
            input(type="checkbox").checkbox__input
div(id='popup2').popup.modal_container.mfp-with-anim.mfp-hide.popup_padding.popup-smi
  .popup__container
    button.popup__close ×
    h5.popup__title Илья Васецкий открыт к предложениям и готов сотрудничать со СМИ в любое время
    form(action="").popup-form
      .popup-form__group
        span.popup-form__hint Заполните форму ниже,<br> и Илья перезвонит вам в ближайшее время
      .popup-form__group
        input(type="text" required placeholder="+7 (000) 000-00-00").input.input_phone
      .popup-form__group.popup-form__group_style2
        button(type='submit').button.gradient.popup-form__button
          span Связаться со мной
      .popup-form__group.popup-form__group_style2
        .checkbox
          label.checkbox__label Вы соглашаетесь с условиями обработки персональных данных<br> (<a href='#'>ознакомиться</a>)
            input(type="checkbox").checkbox__input
