.presentation(id="presentation")
  h4.presentation__title Наши проекты
  .presentation-slider
    .presentation-slide
      .presentation-slide__background.lazy(data-src='img/backgrounds/selo.jpg')
      .presentation-slide__container