mixin slide()
  .publications-slide 
    img(data-src="img/banner/logo1.jpg", alt="").lazy.publications-slide__edition
    h5.publications-slide__title Парковые зоны в ЖК: тонкости работы с живой природой
    p.publications-slide__text «В современном жилом проекте важно не только построить качественные дома и оградить их забором для безопасности жителей: нужно думать и об инфраструктуре и, конечно, о природе.»
    a(href="#").publications-slide__link Читать статью
.publications(id="publications")
  .publications__background.lazy(data-src='img/backgrounds/bg-publications.jpg')
  .container.container_style2
    .publications__container.row
      .publications__wrap.col
        .publications__content.shadow
          h4.title Публикации в СМИ
          .publications__slider
            +slide
            +slide
          .publications__nav
            button.slick-arrow.slick-arrow_style1.slick-custom.slick-prev.publications__prev.shadow
            .slide-count.publications__slide-count
              span.slide-count__current 0
              span.slide-count__all 0
            button.slick-arrow.slick-arrow_style1.slick-custom.slick-next.publications__next.shadow
