.questions(id="questions")
  .container.container_small
    .questions__background.lazy(data-src='img/backgrounds/bg-q.jpg')
    .questions__container  
      h4.title.questions__title Остались вопросы?<br> Оставьте заявку, чтобы обсудить их
      a(href="javascript:;" data-fancybox data-src="#popup1").button.gradient.questions__button.modal
        span Связаться со мной
      a(href="tel:84957206203").questions__number 8 (495) 720-62-03