.videos(id="videos")
  .videos__container.slider-section
    .container
      h4.title.videos__title ТВ-передачи с моим участием
      .videos__nav
        button.slick-arrow.slick-arrow_style1.slick-custom.slick-prev.videos__prev.shadow
        .slide-count.publications__slide-count
          span.slide-count__current 0
          span.slide-count__all 0
        button.slick-arrow.slick-arrow_style1.slick-custom.slick-next.videos__next.shadow
      .videos__slider
        .videos-slide
          .videos-slide__container  
            a(data-fancybox href="https://www.youtube.com/watch?v=d6XBJ3xCmYE&list=PL2RpArUVs46R_qqrS1ob-TwVyAHRKFRJr").videos-slide__video
              .videos-slide__background.lazy(data-src='img/backgrounds/bg-video1.jpg')
              .play-button.play-button_style4.videos-slide__play-button
                .play-button__item
                  i.fas.fa-caret-right
                span.play-button__label.play-button__label_white Узнайте все за 120 сек.
            span.videos-slide__title Идеальный ремонт 
            span.videos-slide__description Звездные сады. Сад Для Витаса от Ильи Васецкого.
        .videos-slide
          .videos-slide__container  
            a(data-fancybox href="https://www.youtube.com/watch?v=2DnxqjiSaZI&list=PL2RpArUVs46RAHCkW4juQFg2yBL3oDLAH").videos-slide__video
              .videos-slide__background.lazy(data-src='img/backgrounds/bg-video2.jpg')
              .play-button.play-button_style4.videos-slide__play-button
                .play-button__item
                  i.fas.fa-caret-right
                span.play-button__label.play-button__label_white Узнайте все за 120 сек.
            span.videos-slide__title Школа ландшафтного мастерства 
            span.videos-slide__description Школа ландшафтного мастерства Выпуск 9 Телеканал Загородная жизнь
        .videos-slide
          .videos-slide__container  
            a(data-fancybox href="https://www.youtube.com/watch?v=rq3zKPy-qAU&list=PL2RpArUVs46QDVv2ckotyVVC_HyeEPvBE").videos-slide__video
              .videos-slide__background.lazy(data-src='img/backgrounds/bg-video3.jpg')
              .play-button.play-button_style4.videos-slide__play-button
                .play-button__item
                  i.fas.fa-caret-right
                span.play-button__label.play-button__label_white Узнайте все за 120 сек.
            span.videos-slide__title Дачная академия 
            span.videos-slide__description Дачная академия 2015 Выпуск 1
        .videos-slide
          .videos-slide__container  
            a(data-fancybox href="https://www.youtube.com/watch?v=bsGf2okILwI&list=PL2RpArUVs46SorU6L_aqSq_UBHI0vNQML").videos-slide__video
              .videos-slide__background.lazy(data-src='img/backgrounds/bg-video4.jpg')
              .play-button.play-button_style4.videos-slide__play-button
                .play-button__item
                  i.fas.fa-caret-right
                span.play-button__label.play-button__label_white Узнайте все за 120 сек.
            span.videos-slide__title Школа ландшафтного дизайна
            span.videos-slide__description Илья Васецкий в Школе Ландшафтного Дизайна. Выпуск 2
        .videos-slide
          .videos-slide__container  
            a(data-fancybox href="https://www.youtube.com/watch?v=DYaEGCTP8XM&list=PL2RpArUVs46T-20XBtBrzxREiSqTRS6VJ").videos-slide__video
              .videos-slide__background.lazy(data-src='img/backgrounds/bg-video5.jpg')
              .play-button.play-button_style4.videos-slide__play-button
                .play-button__item
                  i.fas.fa-caret-right
                span.play-button__label.play-button__label_white Узнайте все за 120 сек.
            span.videos-slide__title Остальные передачи 
            span.videos-slide__description Ландшафтный архитектор Яны Рудковской 2014
  .videos__container.slider-section
    .container
      h4.title.videos__title Звезды доверяют мне участки
      .videos__nav
        button.slick-arrow.slick-arrow_style1.slick-custom.slick-prev.videos__prev.shadow
        .slide-count.publications__slide-count
          span.slide-count__current 0
          span.slide-count__all 0
        button.slick-arrow.slick-arrow_style1.slick-custom.slick-next.videos__next.shadow
      .videos__slider
        .videos-slide
          .videos-slide__container  
            a(data-fancybox href="https://www.youtube.com/watch?v=d6XBJ3xCmYE&list=PL2RpArUVs46R_qqrS1ob-TwVyAHRKFRJr").videos-slide__video
              .videos-slide__background.lazy(data-src='img/backgrounds/bg-video1.jpg')
              .play-button.play-button_style4.videos-slide__play-button
                .play-button__item
                  i.fas.fa-caret-right
                span.play-button__label.play-button__label_white Узнайте все за 120 сек.
            span.videos-slide__title Идеальный ремонт 
            span.videos-slide__description Звездные сады. Сад Для Витаса от Ильи Васецкого.
        .videos-slide
          .videos-slide__container  
            a(data-fancybox href="https://www.youtube.com/watch?v=2DnxqjiSaZI&list=PL2RpArUVs46RAHCkW4juQFg2yBL3oDLAH").videos-slide__video
              .videos-slide__background.lazy(data-src='img/backgrounds/bg-video2.jpg')
              .play-button.play-button_style4.videos-slide__play-button
                .play-button__item
                  i.fas.fa-caret-right
                span.play-button__label.play-button__label_white Узнайте все за 120 сек.
            span.videos-slide__title Школа ландшафтного мастерства 
            span.videos-slide__description Школа ландшафтного мастерства Выпуск 9 Телеканал Загородная жизнь
        .videos-slide
          .videos-slide__container  
            a(data-fancybox href="https://www.youtube.com/watch?v=rq3zKPy-qAU&list=PL2RpArUVs46QDVv2ckotyVVC_HyeEPvBE").videos-slide__video
              .videos-slide__background.lazy(data-src='img/backgrounds/bg-video3.jpg')
              .play-button.play-button_style4.videos-slide__play-button
                .play-button__item
                  i.fas.fa-caret-right
                span.play-button__label.play-button__label_white Узнайте все за 120 сек.
            span.videos-slide__title Дачная академия 
            span.videos-slide__description Дачная академия 2015 Выпуск 1
        .videos-slide
          .videos-slide__container  
            a(data-fancybox href="https://www.youtube.com/watch?v=bsGf2okILwI&list=PL2RpArUVs46SorU6L_aqSq_UBHI0vNQML").videos-slide__video
              .videos-slide__background.lazy(data-src='img/backgrounds/bg-video4.jpg')
              .play-button.play-button_style4.videos-slide__play-button
                .play-button__item
                  i.fas.fa-caret-right
                span.play-button__label.play-button__label_white Узнайте все за 120 сек.
            span.videos-slide__title Школа ландшафтного дизайна
            span.videos-slide__description Илья Васецкий в Школе Ландшафтного Дизайна. Выпуск 2
        .videos-slide
          .videos-slide__container  
            a(data-fancybox href="https://www.youtube.com/watch?v=DYaEGCTP8XM&list=PL2RpArUVs46T-20XBtBrzxREiSqTRS6VJ").videos-slide__video
              .videos-slide__background.lazy(data-src='img/backgrounds/bg-video5.jpg')
              .play-button.play-button_style4.videos-slide__play-button
                .play-button__item
                  i.fas.fa-caret-right
                span.play-button__label.play-button__label_white Узнайте все за 120 сек.
            span.videos-slide__title Остальные передачи 
            span.videos-slide__description Ландшафтный архитектор Яны Рудковской 2014